* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

.main-wrapper {
  min-height: 100vh;
  background-color: black;
  color: white;
}
/************ HEADER *************/

header {
  width: 90%;
  /* Feel free to tinker with the max-width */
  max-width: -100px;
  margin: 5px auto;
  overflow: hidden;
}

header .navigation {
  height: 20vh;
  width: 100%;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Times New Roman", Times, serif;
  background-color: black;
}

header .brand h1 {
  color: white;
  font-family: fantasy;
  letter-spacing: 3px;
  font-size: 45px;
}

.bar {
  display: none;
}

header .nav-bar {
  display: flex;
  gap: 20px;
}
.nav-bar ul li a.close {
  display: none;
}

header .nav-bar ul {
  display: flex;
  align-items: center;
  gap: 20px;
}
header .nav-bar li {
  list-style: none;
}
header .nav-bar li a {
  text-decoration: none;
  font-size: 23px;
  color: white;
  font-weight: bold;
}

header .nav-bar li a:hover {
  color: gold;
  transition: 0.5s;
}

.signin button {
  padding: 19px 25px;
  font-size: 23px;
  border: gray;
  cursor: pointer;
  color: white;
  background-color: black;
}
.signin button.signIn:hover {
  border-radius: 2px solid black;
  background-color: gold;
  color: white;
  border-radius: 50px;
  font-weight: bold;
  transition: 0.5s;
}

.signin button.started {
  border-radius: 2px solid black;
  background-color: white;
  color: black;
  border-radius: 50px;
  font-weight: bold;
}
/************ HOME *************/

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60vh;
}

.home .booking h2 {
  font-size: 30px;
  padding: 15px 0;
}

.home .booking p {
  font-size: 18px;
  padding: 15px 0;
}

button.started {
  padding: 19px 25px;
  margin: 15px 0;
  font-size: 23px;
  border: gray;
  cursor: pointer;
  color: black;
  background-color: white;
  border-radius: 50px;
}

button.started:hover {
  font-weight: bold;
  transition: 0.5s;
  color: white;
  background-color: gold;
}

.round {
  background-color: white;
  height: 70px;
  width: 70px;
  border-radius: 35px;
  cursor: pointer;
  margin-top: 90px;
}

.round:hover {
  background-color: gold;
  transition: 0.5s;
}

.profile {
  margin-top: 50px;
}
.profile img {
  height: 450px;
  width: 450px;
  padding-bottom: 20px;
  object-fit: cover;
  border-radius: 5px;
  border: 2px solid black;
}

/************ SECTION *************/

section {
  min-height: 50vh;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature .summary {
  text-align: center;
  padding: 25px 0;
}

.feature .summary h2 {
  font-size: 30px;
  padding: 25px 0;
  font-weight: bold;
}

.feature .summary p {
  padding: 5px 0;
  font-size: 15px;
  font-weight: bold;
  line-height: 13px;
  line-height: 15px;
}

.source {
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 19px 0;
}

.passport {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 70px;
  font-weight: 25px;
  font-family: fantasy;
}

.passport .passport_profile {
  background-color: gray;
  border-radius: 5px;
  height: 280px;
  width: 400px;
}
.passport .passport_profile {
  font-weight: bold;
  position: relative;
  display: inline-block;
}

.passport .passporti {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  margin: 7px 15px;
  height: 120px;
  width: 101%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 5px black;
  padding: 5px 3px;
}
.passport .passportii {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  margin: 18px 5px;
  margin-right: 1200px;
  height: 120px;
  width: 105%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 5px black;
  padding: 5px 3px;
  left: 50px;
}
.passport img {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  object-fit: cover;
}

.passport .qualification h2 {
  width: 100%;
  font-weight: bold;
  font-size: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 17px 0;
}

.passport .qualification p {
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 17px;
  line-height: 25px;
  padding-bottom: 30px;
}

.passport .qualification button {
  padding: 19px 25px;
  margin: 15px 0;
  font-size: 23px;
  border: gray;
  cursor: pointer;
  color: white;
  background-color: black;
  border-radius: 50px;
}

.passport .qualification button:hover {
  background-color: gold;
  color: white;
  font-weight: bold;
  transition: 0.5s;
}

/************ ASIDE *************/
aside {
  height: 70vh;
  width: 100%;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 25rem;
}

aside .viewPrices {
  display: none;
}

aside .asideNotes {
  height: 30%;
}

.asideNotes .cources h2 {
  font-size: 30px;
  padding: 3.5rem 0;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}

.asideNotes .link .note p {
  font-size: 17px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}

.link .mainLink a {
  color: black;
  text-decoration: none;
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
}

.link .mainLink a:hover {
  border-bottom: 3px solid gold;
  font-weight: bold;
  transition: 0.5s;
}

.asideNotes .link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

aside .asideimages {
  height: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

aside .asideImage {
  display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
aside .asideCourse {
  height: 100px;
  width: 190px;
  background-color: white;
  padding: 5px 7px;
  box-shadow: 0px 0px 5px black;
  margin-left: 5rem;
  position: absolute;
  right: -40%;
  bottom: -50px;
  transform: translate(-50%, -50%);
  padding: 10px;
}
aside .asideImage img {
  height: 250px;
  width: 250px;
  object-fit: cover;
  border-radius: 5px;
}

/******* ARTICLE *************/

article .about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
  width: 100%;
}

article .newsLetter {
  text-align: center;
  margin: 12px 0;
}

article .newsLetter h2 {
  font-size: 30px;
  padding: 7px 0;
}

article .newsLetter p {
  font-size: 20px;
  padding: 7px 0;
}

.input-container {
  /* This bit sets up the horizontal layout */
  display: flex;
  flex-direction: row;

  width: 50rem;
  margin: 2rem auto;

  /* This bit draws the box around it */
  border: 1px solid black;

  /* I've used padding so you can see the edges of the elements. */
}

input {
  /* Tell the input to use all the available space */
  flex-grow: 2;
  /* And hide the input's outline, so the form looks like the outline */
  border: 1px solid white;
  height: 56px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

/* remove the input focus blue box, it will be in the wrong place. */
input:focus {
  outline: none;
  font-size: 25px;
}

/* Add the focus effect to the form so it contains the button */
.input-container:focus-within {
  outline: 1px solid black;
}

button.article {
  /* Just a little styling to make it pretty */
  border: 1px solid gold;
  background: gold;
  color: white;
  height: 56px;
  width: 150px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}

footer {
  background-color: white;
  color: black;
  width: 100%;
  height: 30vh;
}

footer .contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 23rem;
  padding: 50px 50px;
}

footer .warld h2 {
  font-size: 25px;
  padding: 15px 0;
}

footer .warld p {
  font-size: 15px;
}

footer .company h2 {
  font-size: 25px;
  padding: 15px 0;
}

footer .company ul li {
  list-style: none;
  font-size: 15px;
}

footer .support h2 {
  font-size: 25px;
  padding: 15px 0;
}

footer .support ul li {
  list-style: none;
  font-size: 15px;
}

/* Tablet styles - Adjust these for tablets (e.g., iPad) */
@media (max-width: 990px) {
  body {
    .main-wrapper header {
      width: 100%;
      /* Feel free to tinker with the max-width */
      max-width: -100px;
      margin: 5px auto;
      overflow: hidden;
      background-color: black;
      padding: 0 7px;
    }

    .main-wrapper header .nav-bar li a {
      text-decoration: none;
      font-size: 17px;
      color: white;
      font-weight: bold;
    }

    .bar {
      display: none;
    }

    .main-wrapper header .nav-bar li a:hover {
      color: gold;
      transition: 0.5s;
    }

    .main-wrapper p {
      font-size: 12px;
    }
    .signin button {
      padding: 10px 16px;
      font-size: 17px;
      border: gray;
      cursor: pointer;
      color: white;
      background-color: black;
    }
    .signin button.signIn:hover {
      border-radius: 2px solid black;
      background-color: gold;
      color: white;
      border-radius: 50px;
      font-weight: bold;
      transition: 0.5s;
    }

    .signin button.started {
      border-radius: 2px solid black;
      background-color: white;
      color: black;
      border-radius: 50px;
      font-weight: bold;
    }
    .signin button.started:hover {
      font-weight: bold;
      transition: 0.5s;
      color: white;
      background-color: gold;
    }

    .main-wrapper .round {
      display: none;
    }
    .passport {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50vh;
      gap: 50px;
      font-weight: 18px;
      font-family: fantasy;
    }
    #pricing {
      width: 100%;
      background-color: white;
      color: black;
      display: block;
      flex-direction: column;
      justify-content: space-around;
      padding: 0 2.5rem;
    }

    .asideNotes .cources h2 {
      font-size: 20px;
      padding: 3rem 0;
    }

    .asideNotes .link .note p {
      font-size: 15px;
    }

    .link .mainLink a {
      color: black;
      text-decoration: none;
      font-size: 15px;
      font-family: "Times New Roman", Times, serif;
      height: 20rem;
      width: 20px;
      background-color: black;
      color: white;
      padding: 25px 25px;
      border-radius: 40px;
    }

    .link .mainLink a:hover {
      background-color: gold;
      font-weight: bold;
      transition: 0.5s;
    }

    .asideNotes .link {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
    }

    .contact {
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 5rem;
      padding-top: 17px;
    }
  }
}

@media (max-width: 440px) {
  body {
    .main-wrapper header {
      width: 100%;
      /* Feel free to tinker with the max-width */
      max-width: -100px;
      min-height: 130vh;
      margin: 5px auto;

      background-color: black;
      padding: 0 7px;
    }
    .navigation {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 20vh;
      width: 100%;
    }
    .bar {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 19.5rem;
      cursor: pointer;
      min-height: 20vh;
      width: 100%;
    }
    .nav-bar ul li a.close {
      display: initial;
      /*position: absolute;
      top: 30px;
      left: 30px; */
      font-size: 20px;
    }
    .nav-bar ul {
      display: block;
    }

    .nav-bar {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      position: fixed;
      top: 0;
      right: 300px;
      height: 150vh;
      width: 80%;
      background-color: black;
      padding: 80px 0 0 10px;
      transition: 0.4s;
      gap: 10rem;
      text-align: center;
      visibility: hidden;
      overflow: hidden;
    }

    .nav-bar.active {
      right: 0px;
      visibility: visible;
    }

    .nav-bar li {
      margin-bottom: 25px;
    }

    .signin button {
      margin-bottom: 25px;
    }

    .home {
      min-height: 50vh;
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    .started {
      margin: 5px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
    }

    .feature section {
      display: block;
      width: 100%;
    }
    .feature .summary h2 {
      font-size: 25px;
      padding: 25px 0;
      font-weight: bold;
    }
    .feature .summary p {
      padding: 5px 0;
      font-size: 14px;
      font-weight: bold;
      line-height: 11px;
      line-height: 11px;
    }

    .source {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
      padding: 19px 0;
      height: 35vh;
    }

    .passport {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 5px;
      font-weight: 15px;
      font-family: fantasy;
      text-align: center;
      min-height: 70vh;
    }

    .passport .passport_profile {
      background-color: gray;
      border-radius: 5px;
      height: 400rem;
      width: 500px;
      display: flex;
      align-items: center;
    }
    .passport .passporti {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5px;
      margin: 0 60px;
      height: 20rem;
      background-color: white;
      border-radius: 5px;
      box-shadow: 0px 0px 5px black;
      padding: 5px 25px;
    }
    .passport .passportii {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5px;
      margin: 0 30px;
      margin-right: 1200px;
      height: 20rem;
      background-color: white;
      border-radius: 5px;
      box-shadow: 0px 0px 5px black;
      padding: 5px 25px;
    }

    .passport .qualification h2 {
      width: 100%;
      font-weight: bold;
      font-size: 25px;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      padding: 17px 0;
    }

    .passport .qualification p {
      font-weight: bold;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      font-size: 15px;
      line-height: 25px;
      padding-bottom: 30px;
    }
    .asideNotes {
      height: 40vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .link {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .link p {
      text-align: center;
      margin-bottom: 50px;
    }
    .asideimages {
      display: none;
    }

    .viewPrices {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      padding: 35px 0;
    }
    .viewPrices h2 {
      padding: 17px 0;
    }

    .about article {
      display: flex;
      height: 70vh;
      width: 50%;
    }
    .input-container {
      /* This bit sets up the horizontal layout */
      display: flex;
      flex-direction: row;

      width: 35rem;
      margin: 2rem auto;

      /* This bit draws the box around it */
      border: 1px solid black;

      /* I've used padding so you can see the edges of the elements. */
    }

    input {
      /* Tell the input to use all the available space */
      flex-grow: 2;
      /* And hide the input's outline, so the form looks like the outline */
      border: 1px solid white;
      height: 46px;
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
    }

    /* remove the input focus blue box, it will be in the wrong place. */
    input:focus {
      outline: none;
      font-size: 20px;
    }

    /* Add the focus effect to the form so it contains the button */
    .input-container:focus-within {
      outline: 1px solid black;
    }

    .contact footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 23px;
      padding: 20px 0;
    }
    .contact .warld h2 {
      font-size: 22px;
      padding: 10px 0;
    }

    .contact .warld p {
      font-size: 12px;
      white-space: nowrap;
    }

    .contact .company h2 {
      font-size: 22px;
      padding: 10px 0;
    }

    .contact .company ul li {
      list-style: none;
      font-size: 12px;
      white-space: nowrap;
    }

    .contact .support h2 {
      font-size: 22px;
      padding: 10px 0;
    }

    .contact .support ul li {
      list-style: none;
      font-size: 12px;
      white-space: nowrap;
    }
  }
}
